@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

.herocontainer {
  display: flex;
  padding-left: 12px;
  padding-right: 48px;
  overflow: hidden;
  max-width: 2000px;
  padding-top: 12px;
}

.sidebar {
  width: 100%;
  height: 100%;
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
  padding-left: 6px;
  padding-right: 6px;
}

.leftMenu {
  position: relative;
  background: #f1f1f1;
  overflow: hidden;
}
.leftMenu li .text {
  text-decoration: none;
  color: #333333;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  text-transform: uppercase;
  width: 100%;
  margin-left: 15px;
  font-size: calc(12px + (12 - 10) * ((100vw - 574px) / (3000 - 574)));
  font-weight: 700;
}
.leftMenu li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333333;
  padding: 11px 10px 10px 15px;
}
.leftMenu li span:hover {
  color: orange;
}
.leftMenu li:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.leftMenu li .text::after {
  content: "";
  position: absolute;
  right: 15px;

  border: solid black;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: translate(0, -50%) rotate(-45deg);
  -webkit-transform: translate(0, -50%) rotate(-45deg);
}

.leftMenu li a img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.collectcomputer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #b6b6b6;
  padding: 15px;
}
.collectcomputer span img {
  width: auto;
  height: calc(34px + (56 - 40) * ((100vw - 574px) / (3000 - 574)));
}
.collectcomputer span {
  margin: 10px;
}
.collectcomputer span em {
  display: block;
  font-style: normal;
  font-size: calc(12px + (18 - 12) * ((100vw - 574px) / (3000 - 574)));
  line-height: calc(12px + (18 - 12) * ((100vw - 574px) / (3000 - 574)));
  color: #fff;
  text-transform: uppercase;
}
.collectcomputer span strong {
  display: block;
  font-size: calc(20px + (32 - 20) * ((100vw - 574px) / (3000 - 574)));
  line-height: calc(20px + (32 - 20) * ((100vw - 574px) / (3000 - 574)));
  color: #fff;
  text-transform: uppercase;
}

.sub {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: #000;
  transition: all 0.3s;
  transform: translateX(100%);
}
.sub span {
  color: white;
  text-transform: uppercase;
}
.leftarrow {
  margin: -2px 8px 0 0;
  color: white;
}
.disapp {
  transform: translate(0);
  transition: all 0.3s;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: #f1f1f1;
  transition: all 0.3s;
}
.back {
  background-color: #fa9d28;
}
.back span {
  color: white !important;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
}
.disapp li a {
  position: relative;
}

.icon img {
  width: 40px;
  height: 40px;
  object-fit: cover;
}

.midslide {
  overflow: hidden;
  width: 100%;
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 6px;
  padding-right: 6px;
}

.gamerSlider {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-direction: column;
  height: 100%;
}
.rightblock {
  overflow: hidden;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-left: 6px;
  padding-right: 6px;
}
.sliderWrapper {
  width: 100%;
}
.banners {
  width: 100%;
  overflow: hidden;
  display: flex;
  gap: 10px;
}
.banners {
  padding: 0 20px;
}
.banners img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1200px) {
  .herocontainer {
    flex-wrap: wrap;
    overflow: hidden;
    padding-left: 0;
    padding-right: 0;
    justify-content: space-between;
  }
  .sidebar {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .midslide {
    flex: 0 0 70%;
    max-width: 70%;
    padding: 0;
  }
  .gamerSlider {
    flex-direction: row;
    width: 100%;
  }
  .rightblock {
    flex: 0 0 100%;
    max-width: 100%;
    padding-top: 12px;
  }
  .sliderWrapper {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
@media only screen and (max-width: 999px) {
  .sidebar {
    display: none;
  }
  .rightblock {
    overflow: hidden;
    max-width: 100%;
    flex: 0 0 100%;
    padding: 0;
  }
  .midslide {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }
  .gamerSlider {
    padding-top: 12px;
  }
  .herocontainer {
    padding-left: 12px;
    padding-right: 12px;
    flex-wrap: wrap;
  }
  .banners {
    padding: 0;
  }
}
@media only screen and (max-width: 475px) {
  .gamerSlider {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .sliderWrapper {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .banners {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
}
