.heroslider,
.heroslider > .swiper-wrapper,
.heroslider > .swiper-wrapper > .swiper-slide,
.heroslider > .swiper-wrapper > .swiper-slide > img {
  height: 100% !important;
  width: 100% !important;
}
.swiper-button-next,
.swiper-button-prev {
  color: white !important;
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #242496 !important;
}
.swiper-pagination-bullet {
  background: #fff !important;
  opacity: 1 !important;
}
.rightSlider > .swiper-wrapper > .swiper-slide > img {
  width: 100% !important;
}
